<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyLop.Properties.Settings.Quản_lý_lớp_và_sinh_viênConnectionString"
            connectionString="Data Source=DESKTOP-IDR9C82;Initial Catalog=&quot;Quản lý lớp và sinh viên&quot;;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyLop.Properties.Settings.Quản_lí_Lớp_và_Học_SinhConnectionString"
            connectionString="Data Source=DESKTOP-IDR9C82;Initial Catalog=&quot;Quản lí Lớp và Học Sinh&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>