USE [master]
GO
/****** Object:  Database [Quản lí Lớp và Học Sinh]    Script Date: 5/24/2024 10:03:09 PM ******/
CREATE DATABASE [Quản lí Lớp và Học Sinh]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quản lí Lớp và Học Sinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quản lí Lớp và Học Sinh]
GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 5/24/2024 10:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh](
	[MaHS] [int] NOT NULL,
	[TenHS] [nvarchar](50) NOT NULL,
	[HoHS] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[MaLop] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lOP]    Script Date: 5/24/2024 10:03:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lOP](
	[MaLop] [int] NOT NULL,
	[TenLop] [nvarchar](50) NOT NULL,
	[TenGV] [nvarchar](50) NOT NULL,
	[SLuongHS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_lOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[lOP] ([MaLop])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HocSinh_lOP]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_XoaTumLum] FOREIGN KEY([MaLop])
REFERENCES [dbo].[lOP] ([MaLop])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_XoaTumLum]
GO
USE [master]
GO
